body {
  background-color: #018281;
  font-family: 'VT323', monospace;
  font-size: 1rem;
  cursor: url('./alterimages/oldcursor.cur');
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-image: url('./alterimages/windows95popup.png');
  background-size: 100% 100%;
  margin: 15% auto;
  padding: 1.5rem;
  width: 75%;
  height: auto;
  text-align: center;
}

.lastLine {
  column-span: all;
  font-size: 2rem;
}

.close {
  color: #000000;
  background-size: 100%;
  background-repeat: no-repeat;
  float: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'VT323', monospace;
  border: .02rem solid #000000;
}

button {
  background-color: #c0c0c0;
  box-shadow: #000000 2px 2px 2px, #ffffff -2px -2px 2px;
}

.close:hover,
.close:focus {
  
  text-decoration: none;
  cursor: pointer;
}

img.appIcon {
  width: 20%;
  height: auto;
}

div.columns {
  display: grid;
  grid-template-columns: 30% 70%;
}
div.browser {
  background-color: #d1d3d4;
  border: 1px solid #000000;
}

.headerImage {
  width: 100%;
  height: auto;
}

table.browserHeader {
  text-align: center;
  padding: 1rem;
  width: 100%;
}

td.profilePic{
  text-align: left;
}

img.profilePic {
  width: 75%;
  height: auto;
  border-radius: 50%;
}

td.browserTitles {
  text-align: right;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p.bio {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

div.stampColumns {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

div.stampColumns img {
  width: 100%;
  height: auto;
}

div.pngbuttons1 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  padding: 1rem;
}

div.pngbuttons1 img{
  width: 100%;
  height: auto;
}

div.pngbuttons2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  padding: 1rem;
}

div.pngbuttons2 img{
  width: 100%;
  height: auto;
}

footer {
  background-color: #868686;
  padding-top: .25rem;
  border: 1px solid #000000;
}

div.footerColumns {
  display: grid;
  grid-template-columns: 80% 20%;
}

img.footerIcon {
  width: 13%;
  height: auto;
}
